# Phoenix app Postgres
PHX_DB_USER=phx_dev_user
PHX_DB_PASSWORD=phx_dev_pw_2025
PHX_DB_NAME=phx_dev_db

# Keycloak admin
KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=kc_dev_pw_2025

# Keycloak DB
KC_DB_USER=kc_dev_user
KC_DB_PASSWORD=kc_dev_pw_2025_db
KC_DB_NAME=keycloak

# OpenLDAP
LDAP_ORGANISATION=Phoenix Dev
LDAP_DOMAIN=phoenix.test
LDAP_ADMIN_PASSWORD=ldap_admin_pw_2025
LDAP_CONFIG_PASSWORD=ldap_config_pw_2025
LDAP_READONLY_USER_USERNAME=ldap_ro
LDAP_READONLY_USER_PASSWORD=ldap_ro_pw_2025
LDAP_USER_PASSWORD=ldap_user_pw_2025
